body {
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
	height: 100vh;
	padding: 10px;
	color: rgb(144, 238, 144);
	text-shadow: 0 0 5px rgba(144, 238, 144, 0.75),
		0 0 20px rgba(144, 238, 144, 0.25);
	background-color: rgb(20, 20, 20);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

input,
select {
	color: rgba(144, 238, 144, 0.5) !important;
	text-shadow: 0 0 5px rgba(144, 238, 144, 0.5),
		0 0 20px rgba(144, 238, 144, 0.125) !important;
	background-color: rgb(20, 20, 20) !important;
}

.hi-elliot {
	margin-bottom: 15px;
}

.param-input {
	z-index: 20;
	padding: 0 10px 0 0 !important;
}

.param-input:nth-of-type(4n) {
	z-index: 20;
	padding: 0 0 0 0 !important;
}

.form-select {
	z-index: 20;
}

.button-holder {
	z-index: 20 !important;
}

.btn {
	z-index: 20 !important;
	color: rgba(144, 238, 144, 0.5);
	background-color: rgb(40, 40, 40);
}

.btn:hover {
	z-index: 20 !important;
	color: rgb(144, 238, 144);
	text-shadow: 0 0 5px rgba(144, 238, 144, 0.75),
		0 0 20px rgba(144, 238, 144, 0.25);
}

li {
	position: absolute;
	font-size: 0.8em;
	margin-bottom: 15px;
	overflow: hidden;
	z-index: -2 !important;
}

.recents {
	margin-top: 20px;
	overflow: hidden;
	border: 2px solid rgba(144, 238, 144, 0.5);
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(144, 238, 144, 0.25),
		0 0 10px rgba(144, 238, 144, 0.0625),
		inset 0 0 2px rgba(144, 238, 144, 0.25),
		inset 0 0 10px rgba(144, 238, 144, 0.0625);
	height: 60vh;
	padding: 15px 0 20px 30px;
}

h3 {
	display: inline;
	position: relative;
	top: 32px;
	left: 30px;
	background-color: rgb(20, 20, 20);
}

.putin {
	position: fixed;
	opacity: 0;
	z-index: 2 !important;
	width: 120px !important;
	mix-blend-mode: luminosity;
	transition: all ease-in 300ms;
}

#data-pack {
	position: absolute;
	width: 400px;
	top: 2%;
	opacity: 0.5;
}

.data {
	margin: 0 0 0 0.5px;
	border-left: 8px solid rgba(144, 238, 144, 0.15);
	border-image: linear-gradient(
			to bottom,
			rgba(144, 238, 144, 0.5),
			rgba(0, 0, 0, 0)
		)
		1 100%;
	transition: all 600ms ease;
}

.data:hover,
.active {
	border-image: none;
	border-left: 8px solid rgba(144, 238, 144, 1);
	transition: all 600ms ease;
}

.big-block {
	opacity: 0%;
	width: 75vw;
	height: 1vh;
	background-color: rgba(20, 20, 20, 0.702);
	position: absolute;
	width: 50%;
	top: 50vh;
	left: 6.25vw;
	z-index: 30;
	border: 2px solid rgba(144, 238, 144, 0.5);
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(144, 238, 144, 0.25),
		0 0 10px rgba(144, 238, 144, 0.0625),
		inset 0 0 2px rgba(144, 238, 144, 0.25),
		inset 0 0 10px rgba(144, 238, 144, 0.0625);
}

.blurred {
	/* filter: blur(4px); */
	/* filter: brightness(25%); */
	opacity: 0.1;
	transition: all 500ms linear;
}

.column {
	opacity: 0%;
	padding: 10px 0 0 0;
}

.user-list {
	position: relative;
	font-size: 0.7em;
	margin-bottom: 0;
}

.control {
	padding-left: 23px;
	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.a-control {
	padding-right: 23px;
}

.control::-webkit-scrollbar {
	display: none;
}
.orange {
	background-color: rgba(255, 165, 0, 0.25);
	padding-bottom: 20px;
}

.yellow {
	background-color: rgba(255, 255, 0, 0.25);
}

.red {
	background-color: rgba(255, 0, 0, 0.25);
}

p {
	font-size: 0.9em;
}
